{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'gate/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'gate/leaflet/leaflet.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'gate/jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'gate/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'gate/leaflet/leaflet.js' %}"></script>
{% endblock %}

{% block body %}
    <p>Hello, world!</p>
{% endblock %}