{% load static %}
<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>EasyWay</title>

    <!-- region CSS -->
    <link rel="stylesheet" href="{% static 'geo/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'geo/easyway.css' %}">
    <!-- Fallback Favicon -->
    <link rel="icon" type="image/png" href="{% static 'geo/images/EasyWay_whitebg.png' %}">
    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="{% static 'geo/images/EasyWay_whitebg.svg' %}">

    {% block styles %}
    {% endblock %}
    <!-- endregion -->
</head>
<body class="d-flex flex-column min-vh-100">
<header>
    <nav class="navbar navbar-dark bg-success navbar-expand-md sticky-top">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'geo/images/EasyWay.svg' %}" class="d-inline-block align-top" width="32" height="32"
                 alt="">
            EasyWay
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Mapeamento</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'help' %}">Ajuda</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">Sobre nós</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                </ul>
            {% endif %}

        </div>
    </nav>
</header>
{% block body %}
{% endblock %}
<footer class="footer mt-auto py-3 text-center">
    <div class="container">
        <span>&copy; {% now 'Y' %} EasyWay. Todos os direitos reservados.</span>
    </div>
</footer>
<!-- region JS -->
{% if user.is_authenticated %}
    <script>var user = {{ user.id }}</script>
{% else %}
    <script>var user = undefined;</script>
{% endif %}

<script src="{% static 'getCookie.js' %}"></script>
<script src="{% static 'geo/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'geo/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% block scripts %}
{% endblock %}
<!-- endregion -->
</body>
</html>